<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.infrastructure.dao.DeviceMapper">

    <resultMap id="DevicesResultMap" type="com.achobeta.infrastructure.dao.po.DevicePO">
        <result column="device_id" property="deviceId" />
        <result column="device_name" property="deviceName" />
        <result column="ip" property="IP"/>
        <result column="user_id" property="userId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryCommonUseDevicesById" resultMap="DevicesResultMap">
        select device_id,device_name,update_time,ip,create_time from device
        where user_id = #{userId} and is_deleted = 1
              <if test="lastDeviceId != null">
                  and  device_id > #{lastDeviceId}
              </if>
               and is_cancel = 0
        order by device_id
            limit #{limit}
    </select>

</mapper>