<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.infrastructure.dao.UserMapper">

    <resultMap id="UserResultMap" type="com.achobeta.infrastructure.dao.po.UserPO">
        <id column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="id_card" property="idCard"/>
        <result column="student_id" property="studentId"/>
        <result column="current_status" property="currentStatus"/>
        <result column="entry_time" property="entryTime"/>
        <result column="like_count" property="likeCount"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="addMember">
        insert into member (user_id,teamId)
        values (#{userId},#{teamId})
    </insert>

    <insert id="addUser" parameterType="com.achobeta.infrastructure.dao.po.UserPO">
        insert into user (#{userId},
            <if test="idCard!= null">,#{idCard}</if>
            <if test="studentId!= null">,#{studentId}</if>
            <if test="currentStatus!= null">,#{currentStatus}</if>
            <if test="entryTime!= null">,#{entryTime}</if>
            <if test="createBy != null">,#{createBy}</if>
            <if test="updateBy != null">,#{updateBy}</if>
            <if test="userName    != null">,#{userName}</if>
            <if test="gender   != null">,#{gender}</if>
            <if test="email    != null">,#{email}</if>
            <if test="grade    != null">,#{grade}</if>
            <if test="major    != null">,#{major}</if>
            <if test="experience!= null">,#{experience}</if>)
        values (#{userId},
               <if test="idCard!= null">,#{idCard}</if>
               <if test="studentId!= null">,#{studentId}</if>
               <if test="currentStatus!= null">,#{currentStatus}</if>
               <if test="entryTime!= null">,#{entryTime}</if>
               <if test="createBy != null">,#{createBy}</if>
               <if test="updateBy != null">,#{updateBy}</if>
               <if test="userName    != null">,#{userName}</if>
               <if test="gender   != null">,#{gender}</if>
               <if test="email    != null">,#{email}</if>
               <if test="grade    != null">,#{grade}</if>
               <if test="major    != null">,#{major}</if>
               <if test="experience!= null">,#{experience}</if>)
    </insert>

    <select id="listTeamIdByPhone" resultType="java.lang.String">
        SELECT t2.team_id
        FROM user as t1,member as t2
        WHERE t1.user_id = t2.user_id
                and t1.phone = #{phone}
                and is_deleted = 0
        group by t2.team_id
    </select>
</mapper>